<app-toolbar></app-toolbar>

<mat-card class="content">
  <mat-card-header>
    <mat-card-title class="title"><h1>Tareas</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of ListTasks">
          <td>{{task.id}}</td>
          <td>{{task.todo | titlecase}}</td>
          <td>{{task.complete}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</mat-card-content>
</mat-card>
