<mat-toolbar color="secondary" class="menu">
  <button mat-icon-button (click)="sidenav.toggle()" id="menuIcon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
  </button>
  <span id="menuTitle">Test - SC</span>
  <a mat-button routerLink="/dashboard" class="top-menu-item"><mat-icon>home</mat-icon>Dashboard</a>
  <a mat-button routerLink="/users" class="top-menu-item"><mat-icon>people</mat-icon>Usuarios</a>
  <a mat-button routerLink="/tasks" class="top-menu-item"><mat-icon>task_add</mat-icon>Tareas</a>
  <a mat-button routerLink="/" (click)="logout()" class="top-menu-item"><mat-icon>logout</mat-icon>Salir</a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="80" mode="side">
      <div class="side-nav-items">
          <div>
              <a routerLink="/dashboard" mat-button class="side-menu-item"><mat-icon>home</mat-icon>Dashboard</a>
          </div>

          <div>
              <a routerLink="/users" mat-button class="side-menu-item"><mat-icon>people</mat-icon>Usuarios</a>
          </div>

          <div>
              <a routerLink="/tasks" mat-button class="side-menu-item"><mat-icon>task_add</mat-icon>Tareas</a>
          </div>

          <div>
            <a routerLink="/" (click)="logout()" mat-button
                class="side-menu-item"><mat-icon>logout</mat-icon>Salir</a>
        </div>
      </div>

  </mat-sidenav>

  <mat-sidenav-content>
      <div class="main-content">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>

</mat-sidenav-container>
